@import "../../../scss/mixin.scss";

.TimeOutModal {
  display: block;
  top: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 999;

  .ModalContent {
    width: 50%;
    height: 150px;
    text-align: center;
    padding-top: 20px;
    margin-top: 20%;
    margin-left: 25%;
    border: 2px solid #145ac1;
    background-color: #ededed;
    p {
      font-size: 22px;
    }
    .btnModal {
      @include btn-blue;
      margin: auto;
      width: 150px;
    }
  }
}
.cache {
  display: none;
}
