@import "../../../scss/variable.scss";
@import "../../../scss/mixin.scss";
@font-face {
  font-family: "DS-Digital";
  font-style: normal;
  font-weight: 1000;
  src: url("../../../assets/fonts/DS-DIGIB.TTF"); /* IE9 Compat Modes */
}

.User {
  .logoAmiltone {
    margin-top: 20px;
    margin-left: 14vh;
    width: 15%;
    height: 25px;
  }
  .Userindex {
    background: #fff;
    margin: 35px auto;
    height: 80vh;
    width: 85%;
    padding-left: 0;

    .logoAmiltoneSeul {
      position: absolute;
      margin-left: 37%;
      z-index: 999;
    }
    .logoAmiltoneSeul img {
      border-radius: 50%;
      width: 40%;
      margin-top: -10%;
    }

    .start-btn {
      @include btn-blue;
      width: 300px;
      margin: auto;
      margin-top: 50px;
    }
    .Debut {
      .intro-text {
        margin: 30px auto;
        margin-top: 30px;
        text-align: center;
        padding-top: 100px;

        .important-intro {
          color: red;
        }
      }
    }

    .Questionnaire {
      .question {
        background-color: $pink;
        box-shadow: 0px 0px 06px 0px rgba(0, 0, 0, 0.2);
        color: $whiteSmothe;

        height: 80vh;
        padding: 20px;

        .questionnaire_progression {
          text-align: left;
          font-size: 34px;
          padding-top: 20px;
        }

        .question_title {
          font-size: 20px;
          padding-top: 50px;
        }
      }

      .answer {
        padding-left: 0;
        .questionnaire_chrono {
          text-align: right;
          margin-right: 0;

          margin-bottom: 20px;

          .Chrono {
            display: inline-block;
            font-family: "DS-Digital";
            font-size: 50px;

            width: 200px;

            text-align: left;
            .chrono_img {
              height: 50px;
            }
          }
          .red {
            color: red;
          }
          .blinking {
            animation: blinkingText 1s infinite;
          }
          @keyframes blinkingText {
            0% {
              color: red;
            }

            50% {
              color: transparent;
            }
            100% {
              color: red;
            }
          }
        }
        .answer_title {
          font-size: 30px;
          text-decoration: underline;
          padding-bottom: 20px;
          padding-left: 20px;
        }
        .answers {
          padding-left: 20px;
          border-left: 1px solid #e5e5e5;
          height: 56vh;

          .QuestionSimple,
          .QuestionLibre {
            form {
              display: flex;
              flex-direction: column;
              .reponses {
                height: 45vh;
                .answer_label {
                  height: 40px;
                  cursor: pointer;

                  .answer_input {
                    margin-top: 14px;
                    margin-right: 10px;
                  }

                  .answer_text {
                    font-weight: 100;

                    font-size: 20px;
                  }
                  .answerChecked-text {
                    font-weight: 700;

                    font-size: 20px;
                  }
                }
              }
              .btn {
                display: flex;
                justify-content: flex-end;
                .isBtn {
                  @include btn-blue;
                  width: 200px;
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
    .Fin {
      .fin-texte {
        margin: 30px auto;
        margin-top: 100px;
        text-align: center;
        font-size: 20px;
      }
    }
  }
}
.modalOpacity {
  filter: blur(5px);
}
