@import "../../../scss/variable.scss";
@import "../../../scss/mixin.scss";
.Login {
  .logoAmiltone {
    margin-top: 2%;
    margin-left: 2%;
    width: 20%;
  }
  .LoginContente {
    background: #fff;
    margin: 5% auto;
    height: 65vh;
    width: 80%;

    .logoAmiltoneSeul {
      text-align: center;
    }
    .logoAmiltoneSeul img {
      border-radius: 50%;
      width: 10%;
      margin-top: -3%;
    }
    .container {
      margin: 15px auto;
      h2 {
        text-align: center;
        margin: 5%;
      }
      form {
        margin: 15px auto;
        width: 50%;

        input {
          background-color: $whiteSmothe;
          padding: 5px;
          height: 50px;
          font-size: 20px;
          &:focus {
            outline-style: none !important;
          }
        }
        .btn {
          margin: 0 auto;
          @include btn-blue;
        }
      }
    }
  }
}
@import "../../../scss/mixin.scss";
.Login {
  .LoginContente {
    .container {
      .login {
        text-align: center;
        .btn {
          @include btn-blue;
        }
      }
    }
  }
}
