@import "../../../../../scss/mixin.scss";
.CreeQuestion {
  background: #f8f9fa;
  height: 100vh;
  width: 80%;
  .CreeQuestion-heading {
    text-align: center;
    font-size: 3em;
    color: #495057;
  }

  input {
    padding: 5px;
    height: 50px;
    width: 100%;
    border: none;
    margin-left: 5px;
    font-size: 20px;
    &:focus {
      outline-style: none !important;
    }
  }
  select {
    height: 50px;
    width: 100%;
    border: none;
    margin-left: 5px;
    font-size: 20px;
    &:focus {
      outline-style: none !important;
    }
  }
  .btn {
    @include btn-blue;
  }
  .btn:hover {
    background-color: #ce3089;
  }
}
