@import "../../../../scss/variable.scss";
@import "../../../../scss/mixin.scss";
.Rh {
  .navigation {
    text-align: center;
    color: $white;
    width: 20%;
    height: 100%;
    .btn {
      @include btn-white;
      width: 90%;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .logout {
      @include btn-purple;
      margin-top: 100%;
    }
    img {
      margin: 5% auto;
      width: 70%;
    }
    p {
      font-weight: lighter;
      padding: 12%;
      margin-top: -9%;
    }
  }
}
