.register-list {
  background: #f8f9fa;
  height: 100vh;
  width: 80%;
  .header {
    line-height: 50px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 18px auto;
    .title {
      font-size: 50px;
      color: #495057;
    }
    .search-list {
      background-color: white;
      height: 60px;
      input {
        width: 90%;
        border: none;
        margin-left: 5px;
        font-size: 20px;
        &:focus {
          outline-style: none !important;
        }
      }
    }
    .roleView {
      span {
        margin-right: 5px;
        font-size: 18px;
        font-weight: normal;
      }
    }
  }

  table {
    width: 95%;
    margin: auto;
    thead {
      background: #295bc5;
      color: white;
      tr {
        height: 60px;
        line-height: 36px;
        display: inline-flex;
        width: 100%;
        th {
          width: 100%;
          border: none;
          text-align: left;
          margin-left: 15px;
        }
      }
    }
    tbody {
      height: 75vh;
      display: block;
      overflow-y: auto;
      tr {
        border: none;
        display: inline-flex;
        width: 100%;
        td {
          width: 100%;
          border: none;
          text-align: left;
          margin-left: 15px;
          span {
            z-index: 9999;
          }
        }
      }
      tr:hover {
        cursor: pointer;
        color: white;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #ededed;
}
